*{
    text-align: center;
}

.keyWord{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
}

.button{
    margin: 3px;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: salmon;
}

.blank{
    border-bottom: solid 2px silver;
    width: 50px;
    display: inline-block;
    margin: 0 10px;
}

.displayingHiddenWords{
    margin-bottom: 20px;
}

.clicked{
    background-color: whitesmoke;
    pointer-events: none;
}

.gameOver{
    background-color: black;
    color: salmon;
    font-size: 30px;
    text-decoration: underline;
}